.hljs {
  display: block;
  max-width: 594px;
  padding: 22px 22px 22px 33px;
  margin: 22px 0;
  margin-left: -33px;
  margin-right: -22px;
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background-color: var(--color-bgCode);
}

.example {
  display: block;
  max-width: 594px;
  padding: 22px 22px 22px 33px;
  margin: 22px 0 -22px 0;
  margin-left: -33px;
  margin-right: -22px;
}

@media (min-width: 576px) {
  .hljs {
    padding: 22px;
    margin-right: -22px;
    margin-left: -22px;
    border-radius: 2px;
  }

  .example {
    padding: 22px;
    margin-right: -22px;
    margin-left: -22px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  .example + pre > .hljs {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

/* aside list */
.aside__list ol,
.aside__list ul {
  padding-left: 22px;
}

.aside__list li {
  position: relative;
}

.aside__list li::before {
  content: '—';
  position: absolute;
  display: inline-block;
  width: 22px;
  height: auto;

  left: -22px;
  top: 0;
  line-height: 33px;
  text-align: left;

  background-color: transparent;
  color: var(--color-fontLight);
}

@media (min-width: 576px) {
  .aside__list li::before {
    left: -22px;
  }
}

/* footer */
.footer__inner {
  display: flex;
  justify-content: space-between;
}

/* active links */
.is-active {
  color: var(--color-fontSecondary) !important;
}
